<h3>What is VRLobby?</h3>
<p>
<ol>
    <li>A place to find social VR content</li>
    <li>Libraries and services to make creating social VR on the web easy</li>
    <li>A community of VR lovers hanging out in VR doing whatever</li>
</ol>
</p>
<br>
<p>Currently there is only one space running in VRLobby:</p>
<table>
    <tr><th>Space</th><th>When</th></tr>
<tr><td><a href="https://naf.vrlobby.co/lobby.html">The lobby</a></td><td>Drop in any time, but I'll be there next on Saturday 00:00 UTC +1:00. Why not pop in then?</td></tr>
</table>
<p>I hope to have content like Tanabae's spaces and Beatlab up very soon!</p><br>
<p>I'd like to link to your social VR web sites and apps, <span class="emph">i.e. AltspaceVR apps</span>. Please <a href="mailto:vrlobby.co@gmail.com">email vrlobby.co@gmail.com</a> links!</p>