<p>It just got easier to view VR websites, when Firefox released webVR as part of its standard distribution:</p>
<p><a href="https://www.mozilla.org/en-GB/firefox/new/">Download Firefox</a></p>
<p>In theory it's as easy as opening the page, clicking on the headset icon and putting your headset on. I haven't got it to work yet.</p><br>

<p>The alternative for the desktop is Chromium experimental builds:</p>
<p><a href="https://webvr.info/get-chrome/">Chromium VR instructions</a></p><br>

<p>For Gear VR it should be easy: just open the website, click the headset icon and slot your phone into the headset.</p><br>

<p>Let me know about tips and fixes!</p>




