
<p>Hit me up at <a href="mailto:vrlobby.co@gmail.com">vrlobby.co@gmail.com</a> to get in touch.</p><br>
<p>I want to link to your 3D websites. Please email me their addresses with 1:1.3 ratio thumbnail images, title and description.</p><br>
<p>Also if you want to help out with visual and 3D design, promotion, or code.</p>
<p class="detail">At the moment, I could really do with someone to create a new Lobby, i.e. 3D design of the lobby space. Right now all you'd get is <a href="/credits">credit</a> but who knows about the future.</p>
<br>