<p>Use A-Frame to create your space: <a href="https://aframe.io/">A-Frame</a></p>
<p>VRLobby now uses the wevr component to enable social VR: <a href="https://github.com/jayber/wevr">wevr</a></p>
<p>To enable social VR simply add <span class="emph">
     &lt;script src="https://jayber.github.io/wevr/dist/wevr.js"&gt;&lt;/script&gt;</span>  to your page after your aframe import.</p>
<br>

<p>That's it! Wevr will automatically add elements for camera, with appropriate controls and movement, as well as avatars to represent other people visiting your site at the same time,
synchronizing their movement, and their hand movements, with the avatars. Wevr also provides audio connections with positional audio (in Firefox only ATM, chrome non-positional).</p>
<br>

<p>In the future new features will include ability to set and store your own avatar with VRLobby for use in all wevr connected sites.</p>
<br>