<html>
	<head>
		<title>VRLobby</title>
		
		<meta name="description" content="The multiuser lobby for web VR">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
		<link rel="stylesheet" media="screen" href="static/style/reset.css">
		<link rel="stylesheet" media="screen" href="static/style/main.css">
		
		<script src="static/lib/jquery-3.2.1.min.js"></script>
		<script>
			var isMobile = /Mobile/i.test(navigator.userAgent);
		
			$(window).on('scroll resize', function () {
				$('header').addClass("scroll");
			});
			
			$(document).ready(function() {
				if(isMobile) {
					$('header').addClass("scroll");
				}
			});
		</script>
	</head>
	<body>
		<a href="/"><header>
			<h2>A multi-user lobby for VR websites</h2>
		</header></a>
		<main>
			<section id="menu">
				<ul>
					<a href="/"><li>Home</li></a>
					<a href="what"><li>What is VRLobby?</li></a>
					<a href="viewing"><li>Viewing VR Websites</li></a>
					<a href="create"><li>Creating Social VR</li></a>
					<a href="contact"><li>Contact</li></a>
				</ul>
			</section>
			<section class="main">
				{>body}
			</section>
		</main>
		<section id="footer">
			&#169 {year} James Bromley. <a href="/credits">Credits</a>
		</section>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-104431518-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>
