<html>
<head>
    <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="https://naf.vrlobby.co/easyrtc/easyrtc.js"></script>
    <script src="/node_modules/networked-aframe/dist/networked-aframe.js"></script>
    <script src="https://rawgit.com/feiss/aframe-environment-component/master/dist/aframe-environment-component.min.js"></script>
    <script src="/static/script/components.js"></script>
    <script src="/static/script/util.js"></script>
    <script src="/static/lib/jquery-3.2.1.min.js"></script>
    <script src="/static/lib/jquery-ui-1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" media="screen" href="/static/lib/jquery-ui-1.12.1/jquery-ui.css">

</head>
<body>


<div id="dialog" title="Enter name" style="display: none">Hi please enter a name to identify yourself<br>
<input type="text" id="username" name="name">
</div>

<a-scene log-on networked-scene="
  app: {appName};
  webrtc: true;
  webrtcAudio: true;
  signalURL: naf.vrlobby.co;" init-environment>
    <a-assets>
        <script id="avatar-template" type="text/html">
            <a-entity class="avatar">
                <a-sphere class="head"
                          color="#5985ff"
                          scale="0.45 0.5 0.4">

                </a-sphere>
                <a-entity class="face"
                          position="0 0.05 0"
                        >
                    <a-sphere class="eye"
                              color="#efefef"
                              position="0.16 0.1 -0.35"
                              scale="0.12 0.12 0.12"
                            >
                        <a-sphere class="pupil"
                                  color="#000"
                                  position="0 0 -1"
                                  scale="0.2 0.2 0.2"
                                ></a-sphere>
                    </a-sphere>
                    <a-sphere class="eye"
                              color="#efefef"
                              position="-0.16 0.1 -0.35"
                              scale="0.12 0.12 0.12"
                            >
                        <a-sphere class="pupil"
                                  color="#000"
                                  position="0 0 -1"
                                  scale="0.2 0.2 0.2"
                                ></a-sphere>
                    </a-sphere>
                </a-entity>
            </a-entity>
        </script>

        <a-asset-item id="table" src="/static/models/table_dae/table_dae.dae"></a-asset-item>

    </a-assets>

    <a-entity id="environment" environment="preset:japan"></a-entity>

    <a-entity id="player" networked="template:#avatar-template;showLocalTemplate:false;" camera position="0 1.3 0"
              spawn-in-circle="radius:3;" wasd-controls look-controls>
        <a-entity cursor
                  position="0 0 -1"
                  geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
                  material="color:lightgrey;shader:flat">
        </a-entity>
    </a-entity>

    <a-entity collada-model="#table" position="0 0.13 0"></a-entity>
    <a-entity collada-model="#table" position="0 0.13 2"></a-entity>
    <a-entity collada-model="#table" position="2 0.13 2"></a-entity>
    <a-entity collada-model="#table" position="2 0.13 4"></a-entity>

    <a-box depth="0.1" height="2" width="1" color="#282828" metalness="0.5" position="2 1 0" rotation="0 -45 0">
        <a-entity text="value: Environment;color:#dddddd;anchor:center;baseline:center;width:1.5" scale="2 2 2" position="1.1 0.75 0.05"></a-entity>

        <a-triangle switch-environment="down" color="#ccc" position="-0.39 0.2 0.06" side="double" scale="0.15 0.15 0.15" rotation="0 0 90"></a-triangle>
        <a-triangle switch-environment="up" color="#ccc" position="0.39 0.2 0.06" side="double" scale="0.15 0.15 0.15" rotation="0 0 -90"></a-triangle>
        <a-entity id="name" text="value:name;color:#ccf;anchor:center;baseline:center;width:2;align:center" position="0 0.2 0.06"></a-entity>
    </a-box>


    <a-entity light="color: #ccccff; intensity: 1; type: ambient;" visible=""></a-entity>
    <a-entity light="color: #ffaaff; intensity: 1.5" position="5 5 5"></a-entity>

</a-scene>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-104431518-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>