<html>
<head>
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    <script src="/static/lib/adapter-latest.js"></script>
    <script src="https://jayber.github.io/wevr/dist/wevr.js"></script>
    <script src="https://rawgit.com/feiss/aframe-environment-component/master/dist/aframe-environment-component.min.js"></script>
    <script src="/static/script/components.js"></script>
    <script src="/static/script/util.js"></script>
    <script src="/static/lib/jquery-3.2.1.min.js"></script>
    <script src="/static/lib/jquery-ui-1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" media="screen" href="/static/lib/jquery-ui-1.12.1/jquery-ui.css">
    <link rel="stylesheet" media="screen" href="/static/style/reset.css">
    <link rel="stylesheet" media="screen" href="/static/style/main.css">

</head>
<body>

<div id="dialog" title="Enter name" style="display: none">Hi. Please enter a name to identify yourself:<br>
    <p><input type="text" id="username" name="name" autofocus></p>
    <p>Also <i>use headphones</i> at all times! Else feedback!</p>
    <p>On Oculus Touch, press and hold the left joystick to refresh.</p>
    <p>If your connection fails, the page may refresh automatically, in which case remember to re-enable your microphone if necessary.</p>
</div>

<a-scene log-on>
    <a-assets>

        <a-asset-item id="table" src="/static/models/table_dae/table_dae.dae"></a-asset-item>

    </a-assets>

    <a-entity id="environment" environment="preset:japan"></a-entity>

    <a-entity collada-model="#table" position="0 0.13 0"></a-entity>
    <a-entity collada-model="#table" position="0 0.13 2"></a-entity>
    <a-entity collada-model="#table" position="2 0.13 2"></a-entity>
    <a-entity collada-model="#table" position="2 0.13 4"></a-entity>

    <a-box depth="0.1" height="2" width="1" color="#282828" metalness="0.5" position="2 1 0" rotation="0 -45 0">
        <a-entity text="value: Environment;color:#dddddd;anchor:center;baseline:center;width:1.5" scale="2 2 2" position="1.1 0.75 0.05"></a-entity>

        <a-triangle switch-environment="down" color="#ccc" position="-0.39 0.2 0.06" side="double" scale="0.15 0.15 0.15" rotation="0 0 90"></a-triangle>
        <a-triangle switch-environment="up" color="#ccc" position="0.39 0.2 0.06" side="double" scale="0.15 0.15 0.15" rotation="0 0 -90"></a-triangle>
        <a-entity id="name" text="value:name;color:#ccf;anchor:center;baseline:center;width:2;align:center" position="0 0.2 0.06"></a-entity>
    </a-box>


    <a-entity light="color: #ccccff; intensity: 1; type: ambient;" visible=""></a-entity>
    <a-entity light="color: #ffaaff; intensity: 1.5" position="5 5 5"></a-entity>

</a-scene>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-104431518-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>