<p>It just got easier to view websites in VR, when Firefox released WebVR as part of its standard distribution:<br>
    <a href="https://www.mozilla.org/firefox/new/">Download Firefox</a><br>
    <span class="emph">Make sure you install the 64-bit version of Firefox if you have a 64-bit system.</span></p>
<p class="detail">
    In theory it's as easy as opening the page, clicking on the headset icon and putting your headset on.
    However I have found that sometimes it is necessary to have the Oculus desktop app <i>closed</i> before entering VR.<br>
    And sometimes to hit refresh (the wevr library allows you to press and hold the left joystick on Touch controllers
    to refresh) for all the gear to correctly place itself.<br><br></p>

<p>The alternative for the desktop is Chromium experimental builds:<br>
    <a href="https://webvr.info/get-chrome/">Chromium VR instructions</a><br><br></p>

<p>For Gear VR it should be easy: just open the website, click the headset icon and slot your phone into the
    headset.<br><br></p>

<p>A-Frame web pages can easily be viewed in 2D in a browser without any VR gadgets attached. This should work on
    desktops and mobile devices.
    On the desktop use the mouse to drag the screen around and WASD keys for movement. But we didn't come here to view
    VR websites in 2D!<br><br></p>

<p><a href="/contact">Let me know</a> about tips and fixes!</p>




