html {
	background: #0d0515;
	color: #eee;
	font-family: 'Varela Round', Consolas, "Lucida Console", Monaco, monospace;
	font-size: 20px;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	background-color: #121212;
	background: url("../img/Splash_Logo_Large.png") no-repeat center, url("../img/thegrid.jpg") no-repeat center;
	background-size: 50%, cover;
	height: 40%;
	margin: 0;
	transition: height 500ms ease, width 500ms ease, background-position 500ms ease, background-color 500ms ease;
}

header h2 {
	display: none;
	margin: 0;
	padding: 0;
}

header.scroll {
	height: 100px;
	background: url("../img/logo.png") no-repeat left;
	background-size: 200px, auto;
	background-position: 400px;
	background-color: #121212;
	padding-right: 400px;
	color: #fff;
}

header.scroll h2 {
	display: block;
	font-weight: bold;
	text-align: right;
	padding-top: 40px;
}

@media only screen and (max-width: 1500px) {
	header.scroll {
		background-position: center;
		padding: 0px;
	}
	
	header.scroll h2 {
		display: none;
	}
}

h3, .emph, .main a {
	color: #555;
	font-weight: bold;
}

h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

#menu {
	background: #050505;
	text-align: center;
}

#menu ul {
	padding: 10px 20px;
	list-style-type: none;
}

#menu ul li {
	padding: 0;
	margin: 0;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}

#menu a {
	font-weight: bold;
	color: #ddd;
}

@media only screen and (max-width: 1000px) {
	 #header, #menu {
		width: 100%;
		padding: 0px;
		margin: 0px;
	 }
	 
	 #menu ul li {
		display: block;
		
	 }
}

.main {
	max-width: 1000px;
	background-color: #121212;
	margin-left: auto;
	margin-right: auto;
	color: #eeeeee;
	padding: 10px 20px;
	font-size: 17px;
	font-weight: normal;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow-x: hidden;
}

.main ol {
	list-style: decimal outside;
	margin-left: 30px;
}

.main p {
	margin: 12px 0;
}

.main br {

}

.main p.detail {
    font-family: "Helvetica Neue Light", arial, sans-serif;
    font-size: small;
}

.main a {
	text-decoration: underline;
}

table, td, th {
	border: 1px solid white;
	padding: 10px;
	overflow-x: hidden;
}

th {
	padding: 5px 10px;
	background-color: #555;
}

#footer a {
    font-weight: bold;
}

#footer {
	font-size: 13px;
	text-align: center;
	padding: 10px;
	color: #321351;
	max-width: 1000px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}

#dialog {
    font-size: 12pt;
}

#dialog p {
    margin: 16px 0;
}

#dialog i {
    font-weight: bold;
}

#lobbyroom {
    background-image: url("../img/lobbythumb.png");
}

.site-list {
overflow: hidden;
    position: relative;
    padding: 10px 0;
}

.listing {
    width: 200px;
    height: 360px;
    float: left;
    margin-right: 5px;
    background-color: #050505;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: relative;
}

.listing .image {
    background-size: cover;
    width: 200px;
    height: 251px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
}

.listing p, .listing h1 {
    text-align: center;
}

.listing p {
    font-size: 14px;
}

.listing h1 {
    margin: 12px 0;
}

.listing a {
    text-decoration: none;
    color: inherit;
}

.list-advice {
    margin-top: 20px;
    float: left;
    font-size: 22px;
    width: 100%;
    text-align: center;
}

.listing .count {
    opacity: 0.5;
    float: right;
    background-color: #000;
    font-size: 20px;
    padding: 2px 7px;
    position: absolute;
    top: 215px;
    right: 0;
    font-family: 'Source Code Pro', Consolas, monospace;
}

